/* Start Variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
}

/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */
/* Start Components */
.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}

.special-heading+p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}

@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading+p {
        margin-top: -20px;
    }
}

/* End Components */
/* Start Header */
.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container img {
    width: 60px;
}

.header .container .links {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.header .container .links:hover .fa-sharp span {
    border-radius: 50px;
    margin-left: -12px;
    height: 2px;
    width: 100%;
}

.header .container .links .fa-sharp {
    position: absolute;
}

.header .container .links .fa-sharp span {
    position: absolute;
    background-color: black;
    margin-top: 7px;
    margin-left: -18px;
    height: 2px;
    width: 19px;
    border-radius: 50px;
    box-shadow: 0px -1px 0px black;
}

.header .container .links ul {
    display: none;
    right: -12px;
    min-width: 200px;
    top: calc(100% + 20px);
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    z-index: 1;
}

/* This means when you make hover on links the ul property will be (display: block;) */
.header .container .links:hover ul {
    display: block;
}

/* To make the triangle above the list box */
.header .container .links ul::before {
    content: " ";
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #f9f9f9 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.header .container .links ul a {
    color: #333;
    text-decoration: none;
    padding: 15px;
    display: block;
    transition: var(--main-duration);
}

.header .links ul li:not(:last-child) a {
    /* To make a line */
    border-bottom: 1px solid #ddd;
}

.header .links ul li a:hover {
    padding-left: 25px;
}

/* End Header */
/* Start Landing section */
.landing {
    position: relative;
    background-image: url(../imges/landing.jpg);
    background-size: cover;
    /* To Shorten the height of the image */
    height: calc(100vh - 64px);
}

.landing .text {
    /* This code is to centering the element relating to the whole screen but when putting (position: relative;) in landing above,It's centered relating to the landing   */
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    /* Playing a main role to get the perfect dimensions for computer and phone */
    width: 320px;
    max-width: 100%;

    /* Another Code but it's not effective related to phones */
    /* 
    position: absolute;
    left: 40%;
    top: 38%; 
    */
}

.landing .text h2 {
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
    /*It Helps to Shorten the height of the image */
    margin: 0;
}

.landing .text p {
    font-size: 19px;
    line-height: 1.8;
    /* Another Code but it's not effective related to phones */
    /* 
    margin: 600px;
    font-size: larger;
    line-height: 2; 
    */
}

/* End Landing section */
/* Start Features */
.feature {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.feature .container {
    /* I used grid to To not have to use maedia to adjust it with phone dimensions */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2;
}

.feature .container .feat1 {
    text-align: center;
    padding: 20px;
}

.feature .container .feat1 i {
    color: var(--main-color);
}

.feature .container .feat1 h3 {
    font-weight: 800;
    margin: 30px 0;
}

.feature .container .feat1 p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}

/* End Features */
/* Start Services */
.service {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.service .container .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}

.service .container .content .ser {
    display: flex;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .service .content .ser {
        flex-direction: column;
        text-align: center;
    }
}

.service .container .content .col i {
    color: var(--main-color);
    flex-basis: 60px;
    padding: 20px;
}

.service .container .content .col .text {
    /* It's important to the (flex-basis: 60px;) above */
    flex: 1;
}

.service .container .content .col p {
    line-height: 1.8;
    color: #777;
    font-weight: 300;
}

.service .container .content .col .image {
    text-align: center;
    position: relative;
}

.service .container .content .col .image::before {
    content: " ";
    background-color: var(--secondary-color);
    width: 100px;
    /* The 100px will be distributed to the top and the bottom */
    height: calc(100% + 100px);
    /* The top is -50px because of height */
    top: -50px;
    position: absolute;
    right: 0;
    z-index: -1;
}

.service .container .content .col .image img {
    width: 265px;
}

@media (max-width: 1199px) {
    .image-column {
        display: none;
    }
}

/* End Services */
/* Start Portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.portfolio .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}

.portfolio .content .por {
    background-color: white;
}

.portfolio .content img {
    width: 100%;
}

.portfolio .content h3 {
    padding-left: 10px;
}

.portfolio .content p {
    padding-left: 10px;
    color: #777;
    line-height: 1.6;
}

/* End Portfolio */
/* Start About */
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}

.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}

.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}

@media (max-width: 991px) {
    .about .about-content .image {
        margin: 0 auto 60px;
    }
}

.about .about-content .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}

.about .about-content .image::after {
    top: -40px;
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px;
}

@media (max-width: 991px) {

    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }
}

.about .about-content .image img {
    max-width: 100%;
}

.about .about-content .text {
    flex-basis: calc(100% - 500px);
}

.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}

.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}

.about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
}

/* End About */
/* Start Contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.contact .contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.contact .contact-content h1 {
    color: var(--secondary-color);
    font-size: 35px;
    font-weight: 800;
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.contact .contact-content a {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}

.contact .contact-content p {
    font-size: 16px;
}

.contact .contact-content p i {
    margin-left: 10px;
    color: var(--secondary-color);
}

@media (max-width: 767px) {

    .contact .contact-content h1,
    .contact .contact-content a {
        font-size: 25px;
    }
}

/* End Contact */
/* Start Footer */
.footer {
    padding: 30px 10px;
    background-color: var(--secondary-color);
    text-align: center;
    color: white;
    font-size: 18px;
}

.footer span {
    font-weight: bold;
    color: var(--main-color)
}

/* End Footer */